@font-face {
	font-family: 'Open Sans';
	src: url(fonts/open_Sans/OpenSans-Regular.ttf),url();
}
#paragrafo1 {
	font-size: 20px;
	background-color: transparent;
}
.fundo {
	background-color: yellow;
	color: blue;
	text-align: center;
}

.borda-azul {
	border: 1px solid;
	border-color: black;
	text-align: justify;
}	
body {
	font-family: 'Open Sans', sans-serif;
}
h2 {
	font-family: 'Open Sans', sans-serif;
}

ol{
	list-style-type: upper-roman;
}

#foto {
	width: 300px;
	height: 300px;
	border-radius: 110%;
	
}